{% extends "main/base.html" %}

{% load static %}

{% block content %}

 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container-full">

		<!-- Main content -->
		<section class="content justify-content-center align-items-center">
			<div class="row justify-content-center align-items-center">

				<div class="col-lg-4 col-12">

					<div class="box">
						<h3 class="text-center">Sign Up</h3>

						<div class="box-body" >
							<form method="post">
								<div class="form-group">
									<label class="form-label">User Name</label>
									<div class="input-group mb-3">
										<span class="input-group-text"><i class="ti-user"></i></span>
										<input name="username" type="text" class="form-control" placeholder="Username">
									</div>
								</div>

								<div class="form-group">
									<label class="form-label">Password</label>
									<div class="input-group mb-3">
										<span class="input-group-text"><i class="ti-lock"></i></span>
										<input name="password1" type="password" class="form-control" placeholder="Enter Password">
									</div>
								</div>

								<div class="form-group">
									<label class="form-label">Confirm Password</label>
									<div class="input-group mb-3">
										<span class="input-group-text"><i class="ti-lock"></i></span>
										<input name="password2" type="password" class="form-control" placeholder="Confirm Password">
									</div>
								</div>

							<button type="button" class="waves-effect waves-light btn mb-5 bg-gradient-success justify-content-center; align-items-center" style="width:360px">Approve</button>
							</form>	
							<div class="text-center">
								<p class="mt-15 mb-0">Already have an account?<a href="{% url 'main:sign_in' %}" class="text-danger ms-5"> Sign In</a></p>
							</div>
						</div>

		</section>
		<!-- /.content -->
	  </div>
  </div>
  <!-- /.content-wrapper -->


{% endblock %}


